<div class="content deanery">
  <h3 class="settings"><abbr>Settings</abbr> Deklaracje praktyk zawodowych</h3>
  <h4><%= @declaration.declaration_name %></h4>
  <p>Zestawienie liczbowe deklaracji</p>
  <p>Poniższa tabela prezentuje wszystkie deklaracje praktyk (<%= params[:id] %>), które 
  zostały zarejestrowane przez system w tym roku. Aby zobaczyć szczegóły danej 
  deklaracji, wybierz jej kod</p>
  <table>
    <thead>
      <tr>
        <th>Kod deklaracji</th>
        <th>Imię i nazwisko</th>
        <th>Data</th>
        <th>Firma</th>
      </tr>
    </thead>
    <tbody>
<% @declaration.experiences.each do |experience| %>
      <tr>
        <td><%= link_to IdEncoder.encode(experience.id), :controller => 'settings', :action => 'declarations', :id => params[:id], :page => IdEncoder.encode(experience.id) %></td>
        <td><%= experience.firstname %>&nbsp;<%= experience.lastname %></td>
        <td>
          <%= experience.beginning.to_s %>&nbsp;-&nbsp;<%= (experience.beginning + 4.weeks - (experience.beginning_additional ? ((experience.ending_additional ? experience.ending_additional : Time.now) - experience.beginning_additional) : 0)).to_s %>
          <%= '(' + experience.beginning_additional.to_s + '&nbsp;-&nbsp;' + experience.ending_additional.to_s + ')' if experience.beginning_additional %>
        </td>
        <td><%= experience.place_name %></td>
      </tr>
<% end %>
    </tbody>
  </table>
  <p>Pobierz listę osób wg. terminów zamieszkania w akademiku</p>
  <div class="center">
<%= render :partial => '_partials/csv', :locals => {:action => 'experience', :id => IdEncoder.encode(@declaration.declaration_id)} %>
  </div>
  <div class="submit">
    <a style="margin-bottom: 10px;" href="<%= url_for :controller => 'rtf', :action => 'experience', :id => IdEncoder.encode(2) %>">Pobierz komplet umów dla kierunku Elektronika</a>
    <a href="<%= url_for :controller => 'rtf', :action => 'experience', :id => IdEncoder.encode(3) %>">Pobierz komplet umów dla kierunku Telekomunikacja</a>
 </div>
</div>