<div class="content deanery">
  <h3 class="settings"><abbr>Settings</abbr> Deklaracje specjalności</h3>
  <h4><%= @declaration.declaration_name %></h4>
  <p>Statystyki dotychczasowo dokonanych wyborów</p>
<% @declaration.specialities.each_with_index do |speciality, index| %>
  <table>
    <thead>
      <tr>
        <th><%= index == 0 ? 'Typ studiów' : 'Specjalność' %></th>
        <th>Ilość chętnych</th>
      </tr>
    </thead>
    <tbody>
<%   speciality.each_pair do |name, count| %>
      <tr>
        <td><%= name %></td>
        <td><%= count %></td>
      </tr>
<%   end %>
    </tbody>
  </table>
<% end %>
  <p>Pobierz listę specjalności dla kierunku Elektronika</p>
  <div class="center">
    <%= render :partial => '_partials/csv', :locals => {:action => 'speciality', :id => IdEncoder.encode(@declaration.declaration_id), :page => IdEncoder.encode(2)} %>
  </div>
  <p>Pobierz listę specjalności dla kierunku Telekomunikacja</p>
  <div class="center">
    <%= render :partial => '_partials/csv', :locals => {:action => 'speciality', :id => IdEncoder.encode(@declaration.declaration_id), :page => IdEncoder.encode(3)} %>
  </div>
</div>