<div class="content deanery">
  <h3 class="users"><abbr>User</abbr> Deklaracja wyboru języka na 2 roku</h3>
  <h4>Deklaracja wyboru języka zajęć </h4>
  <p>Zajęcia dodatkowe (ćwiczenia, laboratoria, projekty, ...) odybwają się wszystkie 
  rodzaje w tym samym języku. Wybór zajęć dodatkowych w j. angielskim oznacza 
  automatycznie wybór wykładów w tym języku. Przy przedmiocie podano jedynie 
  nazwisko wykładowcy.</p>
  <p>Deklaracje można zmieniać aż do terminu zakończenia. Brak deklaracji 
  przyjmujemy jako wybór j. angielskiego. W przypadku wykładu tylko dla jednego 
  modułu (wykład wygłaszany dla jednej całej grupy wykładowej, a nie np. dwóch 
  części roku) potrzebna jest zgoda 100% studentów na uruchomienie wersji 
  angielskiej.</p>
<% form_for :declarations_language do |f| %>
  <table>
    <thead>
      <tr>
        <th>Przedmiot</th>
        <th>Wybór języka</th>
      </tr>
    </thead>
    <tbody>
<%   @declarations_subjects.each do |declarations_subject| %>
  <tr>
    <td>
      <div><%= declarations_subject.subject.head %> - wykład</div>
      <div><%= declarations_subject.name %></div>
    </td>
    <td><%= f.select(IdEncoder.encode(declarations_subject.subject_id) + '_a', @languages_table) %></td>
  </tr>
  <tr>
    <td>
      <div><%= declarations_subject.subject.head %> - dodatkowe</div>
      <div><%= declarations_subject.name %></div>
    </td>
    <td><%= f.select(IdEncoder.encode(declarations_subject.subject_id) + '_b', @languages_table) %></td>
  </tr>
<%   end %>
    </tbody>
  </table>
  <div class="submit">
    <input type="hidden" name="declaration[code]" id="declaration_code" value="<%= params[:declaration][:code] %>" />
    <input type="hidden" name="users_student[sindex]" id="users_student_sindex" value="<%= params[:users_student][:sindex] %>" />
    <%= submit_tag 'Zapisz Wybory' %>
  </div>
<% end %>
</div>