<div class="content deanery">
  <h3 class="news"><abbr>Info</abbr> Harmonogram</h3>
    <dl class="list data">
      <%= dt_dd '27.04.2007', 'Początek składania dokumentów kwalifikacyjnych na Studium Podyplomowe' %>
      <%= dt_dd '21.09.2007', 'Koniec składania dokumentów kwalifikacyjnych na Studium Podyplomowe' %>
      <%= dt_dd '01.10.2007', 'Powiadomienie kandydatów o wstępnych wynikach naboru na Studium Podyplomowe' %>
      <%= dt_dd '05.10.2007', 'Ostateczny termin wnoszenia opłat za udział w zajęciach Studium Podyplomowego (rata I w wysokości 2.300,-zł) i dostarczenia kopii dowodów wpłaty do sekretariatu Katedry Telekomunikacji AGH' %>
      <%= dt_dd '08.10.2007', 'Ostateczna kwalifikacja kandydatów na podstawie kolejności wpłat na Studium Podyplomowe' %>
      <%= dt_dd '15.10.2007', 'Powiadomienie kandydatów o ostatecznych wynikach naboru na Studium Podyplomowe. Zwrot opłat w przypadku braku dostatecznej liczby uczestników lub nadmiaru uczestników; wystawienie rachunków (rata I lub całość)' %>
      <%= dt_dd '20.10.2007 - 27.01.2008', 'Zajęcia semestru pierwszego (zgodnie ze szczegółowym planem zajęć "Semestr pierwszy")' %>
      <%= dt_dd '28.01 - 10.02.2008', 'Egzaminy semestru pierwszego (zgodnie ze szczegółowym planem zajęć "Semestr pierwszy")' %>
      <%= dt_dd '15.02.2008', 'Ostateczny termin wnoszenia opłat za udział w zajęciach Studium Podyplomowego (rata II w wysokości 2.300,-zł)' %>
      <%= dt_dd '22.02.2008', 'Wystawienie rachunków za Studium Podyplomowe (rata II) oraz opłat za egzaminy poprawkowe w semestrze pierwszym' %>
      <%= dt_dd '23.02 - 25.05.2008', 'Zajęcia semestru drugiego (zgodnie ze szczegółowym planem zajęć "Semestr drugi")' %>
      <%= dt_dd '31.05 - 15.06.2008', 'Egzaminy semestru drugiego (zgodnie ze szczegółowym planem zajęć "Semestr drugi")' %>
      <%= dt_dd '20.06.2008', 'Wystawienie rachunków za opłaty za egzaminy poprawkowe w semestrze drugim' %>
      <%= dt_dd '12.09.2008', 'Ostateczny termin wnoszenia opłat za udział w zajęciach Studium Podyplomowego (rata III w wysokości 2.300,-zł)' %>
      <%= dt_dd '13.09 - 31.01.2009', 'Zajęcia semestru trzeciego (zgodnie ze szczegółowym planem zajęć "Semestr trzeci")' %>
      <%= dt_dd '31.01.2009', 'Przedstawienie pracy końcowej do oceny' %>
      <%= dt_dd '15.02.2009', 'Wystawienie rachunków za Studium Podyplomowe (rata III) oraz opłat za egzaminy poprawkowe w semestrze trzecim' %>
      <%= dt_dd '07.03.2009', 'Uroczyste rozdanie świadectw ukończenia Studium Podyplomowego' %>
    </dl>
</div>
