<div class="column-left">
<%= render :partial => '_partials/news', :locals => { :content => 'left' } %>
<%= render :partial => '_partials/files_detailed', :locals => { :files => @files, :content => 'left' } %>
</div>
<div class="column-right">
<%= render :partial => '_partials/google', :locals => { :content => 'right' } %>
<%= render :partial => '_partials/poll', :locals => { :content => 'right' } %>
<%= render :partial => '_partials/grades', :locals => { :content => 'right' } %>
</div>