<div class="content">
  <h3 class="settings"><abbr>Settings</abbr> Kalendarz studenta</h3>
  <%= render :partial => '_partials/events' %>
</div>
<div class="content">
  <h3 class="settings"><abbr>Settings</abbr> Dodawanie wydarzenia</h3>
  <% form_for :event, :url => {:controller => 'settings', :action => 'calendar', :id => nil, :page => nil} do |f| %>
  <dl class="data long">
    <dt>Termin</dt>
    <dd class="date">
      <label for="event_enddate_year">yyyy</label> <%= text_field(:event_enddate, :year) %>
      - <label for="event_enddate_month">mm</label> <%= text_field(:event_enddate, :month) %>
      - <label for="event_enddate_day">dd</label> <%= text_field(:event_enddate, :day) %>
    </dd>
    <dt>Początek</dt>
    <dd class="date">
      <label for="event_startdate_year">yyyy</label> <%= text_field(:event_startdate, :year) %>
      - <label for="event_startdate_month">mm</label> <%= text_field(:event_startdate, :month) %>
      - <label for="event_startdate_day">dd</label> <%= text_field(:event_startdate, :day) %>
    </dd>
    <%= dt_dd '<label for="event_head">Nazwa</label>', f.text_field(:head) %>
    <%= dt_dd '<label for="event_url">Url</label>', f.text_field(:url) %>
    <dt>Dotyczy</dt>
    <dd>
      <%= check_box(:event_year, :year_1) %><label for="event_year_year_1">I&nbsp;rok</label>
      <%= check_box(:event_year, :year_2) %><label for="event_year_year_2">II&nbsp;rok</label>
      <%= check_box(:event_year, :year_3) %><label for="event_year_year_3">III&nbsp;rok</label>
      <%= check_box(:event_year, :year_4) %><label for="event_year_year_4">IV&nbsp;rok</label>
      <%= check_box(:event_year, :year_5) %><label for="event_year_year_5">V&nbsp;rok</label>
    </dd>
  </dl>
  <div class="submit">
  <% unless @edited_calendar %>
    <%= submit_tag 'Dodaj wydarzenie' %>
  <% else %>
    <input type="hidden" name="event_params[edited]" id="event_params_edited" value="<%= @event_encoded_id %>" />
    <%= submit_tag 'Zapisz zmiany' %>
  <% end %>
  </div>
  <% end %>
</div>
