<div class="content">
  <h3 class="settings"><abbr>Settings</abbr> Zmiana parametrów grupy</h3>
  <p>Możesz zmienić nazwę i opis, pod jakimi będzie dostępna Twoja grupa.</p>
  <% form_for :group, :url => {:controller => 'settings', :action => 'groups', :id => nil, :page => nil} do |f| %>
    <dl class="data long">
      <%= dt_dd '<label for="group_head">Nazwa</label>', f.text_field(:head) %>
      <%= dt_dd '<label for="group_body">Opis</label>', f.text_area(:body) %>
    </dl>
    <div class="submit">
      <input type="hidden" name="group_params[edited]" id="group_params_edited" value="<%= IdEncoder.encode(@group.id) %>" />
      <%= submit_tag 'Zmień dane' %>
    </div>
  <% end %>
</div>
<% if @group_members and !@group_members.empty? %>
<div class="content">
  <h3 class="settings"><abbr>Settings</abbr> Usuwanie studentów</h3>
<%   form_for :old_members, :url => {:controller => 'settings', :action => 'groups', :id => 'edit', :page => IdEncoder.encode(@group.id)} do |f| %>
  <%= render :partial => 'group_members', :locals => {:group_members => @group_members, :f => f, :submit => 'Usuń studentów'} %>
    <div class="submit">
      <%= submit_tag 'Usuń studentów' %>
    </div>
<%   end %>
</div>
<% end %>
<div class="content">
  <h3 class="settings"><abbr>Settings</abbr> Dodawanie studentów</h3>
  <p>Aby dodać studentów do Twojej grupy, wybierz predefiniowaną grupę, której 
  studenci mają być wypisani z możliwością dodania</p>
  <% form_for :groups, :url => {:controller => 'settings', :action => 'groups', :id => 'edit', :page => IdEncoder.encode(@group.id)} do |f| %>
    <dl class="data long">
      <dt>Grupa</dt>
      <dd>
        <select name="groups[default]" id="groups_default">
  <%   @default_groups.each do |group| %>
          <option value="<%= IdEncoder.encode(group.id) %>"><%= group.head %></option>
  <%   end %>
        </select>
      </dd>
    </dl>
    <div class="submit">
      <%= submit_tag 'Rozwiń grupę' %>
    </div>
  <% end %>
<% if @default_group_members and !@default_group_members.empty? %>
<%   form_for :new_members, :url => {:controller => 'settings', :action => 'groups', :id => 'edit', :page => IdEncoder.encode(@group.id)} do |f| %>
  <%= render :partial => 'group_members', :locals => {:group_members => @default_group_members, :f => f} %>
    <div class="submit">
      <%= submit_tag 'Dodaj studentów' %>
    </div>
<%   end %>
<% end %>
</div>
<div class="content">
  <h3 class="settings"><abbr>Settings</abbr> Wyszukiwarka studentów</h3>
  <p>Możesz wyszukać studentów w celu dodania ich do grupy korzystajac z poniższego formularza</p>
<% form_for :groups_search, :url => {:controller => 'settings', :action => 'groups', :id => 'edit', :page => IdEncoder.encode(@group.id)} do |f| %>
  <dl class="data long">
    <%= dt_dd '<label for="groups_search_lastname">Nazwisko</label>', f.text_field(:lastname) %>
    <%= dt_dd '<label for="groups_search_firstname">Imię</label>', f.text_field(:firstname) %>
    <%= dt_dd '<label for="groups_search_sindex">Nr indeksu</label>', f.text_field(:sindex) %>
  </dl>
  <div class="submit">
    <%= submit_tag 'Szukaj' %>
  </div>
<% end %>
<% if @search_group_members and !@search_group_members.empty? %>
<%   form_for :search_members, :url => {:controller => 'settings', :action => 'groups', :id => 'edit', :page => IdEncoder.encode(@group.id)} do |f| %>
  <%= render :partial => 'group_members', :locals => {:group_members => @search_group_members, :f => f} %>
    <div class="submit">
      <%= submit_tag 'Dodaj studentów' %>
    </div>
<%   end %>
<% end %>
</div>