<div class="column-left">
<% unless @profile.users_student.nil? -%>
<%= render :partial => '_partials/profile' %>
<% else -%>
<%= render :partial => '_partials/profile', :locals => { :content => 'left' } %>
<%= render :partial => '_partials/subjects', :locals => { :content => 'left' } %>
<%= render :partial => '_partials/news', :locals => { :content => 'left' } %>
</div>
<div class="column-right">
<%= render :partial => '_partials/photo' %>
<%= render :partial => '_partials/files', :locals => { :content => 'right' } %>
<%= render :partial => '_partials/grades', :locals => { :content => 'right' } %>
<% end -%>
</div>